In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("movies.csv")
credits = pd.read_csv("credits.csv")

In [3]:
movies = movies.merge(credits, on="title", how="left")  # left join keeps all movie rows

In [4]:
movies = movies[["genres", "id", "keywords", "title", "overview", "cast", "crew"]]

In [5]:
movies.isnull().sum()

genres      0
id          0
keywords    0
title       0
overview    3
cast        0
crew        0
dtype: int64

In [6]:
movies = movies.dropna()

In [7]:
movies.duplicated().sum()

np.int64(0)

In [8]:
import ast  # for literal_eval

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [9]:
movies['genres'] = movies['genres'].apply(convert)

In [10]:
movies['keywords'] = movies['keywords'].apply(convert)

In [11]:
import ast

def convert2(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter <= 2:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [12]:
movies['cast'] = movies['cast'].apply(convert2)

In [13]:
import ast

def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i["job"] == "Director":
            L.append(i["name"])
            break
    return L

In [14]:
movies['crew'] = movies['crew'].apply(convert2)

In [25]:
movies.head()

,genres,id,keywords,title,overview,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[StephenE.Rivkin, RickCarter, ChristopherBoyes]","[Action, Adventure, Fantasy, Science Fiction, ..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[DariuszWolski, GoreVerbinski, JerryBruckheimer]","[Adventure, Fantasy, Action, Captain, Barbossa..."
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[ThomasNewman, SamMendes, AnnaPinnock]","[Action, Adventure, Crime, A, cryptic, message..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]","[HansZimmer, CharlesRoven, ChristopherNolan]","[Action, Crime, Drama, Thriller, Following, th..."
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[AndrewStanton, AndrewStanton, JohnLasseter]","[Action, Adventure, Science Fiction, John, Car..."

In [19]:
movies['overview'] = movies['overview'].apply(lambda x: x.split() if isinstance(x, str) else [])

In [69]:
movies["cast"] = movies["cast"].apply(lambda x : [i.replace (" ", "") for i in x])
movies["crew"] = movies["crew"].apply(lambda x : [i.replace (" ", "") for i in x])
movies["keywords"] = movies["keywords"].apply(lambda x : [i.replace (" ", "") for i in x])
movies["genres"] = movies["genres"].apply(lambda x : [i.replace (" ", "") for i in x])
movies["tags"] = movies["tags"].apply(lambda x : [i.replace (" ", "") for i in x])

In [21]:
movies['tags'] = movies['genres'] +  movies['overview'] +  movies['keywords'] +  movies['cast'] +  movies['crew']

In [32]:
new_df = movies[['id', 'title', 'tags']]

In [30]:
movies['tags']

0       [Action, Adventure, Fantasy, ScienceFiction, I...
1       [Adventure, Fantasy, Action, Captain, Barbossa...
2       [Action, Adventure, Crime, A, cryptic, message...
3       [Action, Crime, Drama, Thriller, Following, th...
4       [Action, Adventure, ScienceFiction, John, Cart...
                              ...
4804    [Action, Crime, Thriller, El, Mariachi, just, ...
4805    [Comedy, Romance, A, newlywed, couple's, honey...
4806    [Comedy, Drama, Romance, TVMovie, "Signed,, Se...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Documentary, Ever, since, the, second, grade,...
Name: tags, Length: 4806, dtype: object

,id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, I..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, Captain, Barbossa..."
2,206647,Spectre,"[Action, Adventure, Crime, A, cryptic, message..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, Following, th..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, John, Cart..."

In [51]:
# If tags contain lists or other types, flatten them to string
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x))

C:\Users\mypc\AppData\Local\Temp\ipykernel_12676\743404566.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else str(x))

In [36]:
new_df.head()

,id,title,tags
0,19995,Avatar,ActionAdventureFantasyScienceFictionInthe22ndc...
1,285,Pirates of the Caribbean: At World's End,"AdventureFantasyActionCaptainBarbossa,longbeli..."
2,206647,Spectre,ActionAdventureCrimeAcrypticmessagefromBond’sp...
3,49026,The Dark Knight Rises,ActionCrimeDramaThrillerFollowingthedeathofDis...
4,49529,John Carter,ActionAdventureScienceFictionJohnCarterisawar-...

In [37]:
new_df["tags"] = new_df["tags"].apply(lambda x: x.lower())

C:\Users\mypc\AppData\Local\Temp\ipykernel_12676\1654334444.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x: x.lower())

In [66]:
# Example fix for tags generation
def preprocess(text):
    return text.lower().replace(",", " ").replace("|", " ")

new_df['tags'] = new_df['tags'].apply(preprocess)

C:\Users\mypc\AppData\Local\Temp\ipykernel_12676\615820947.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(preprocess)

In [67]:
new_df.head()

,id,title,tags
0,19995,Avatar,actionadventurefantasysciencefictioninthe22ndc...
1,285,Pirates of the Caribbean: At World's End,adventurefantasyactioncaptainbarbossa longbeli...
2,206647,Spectre,actionadventurecrimeacrypticmessagefrombond’sp...
3,49026,The Dark Knight Rises,actioncrimedramathrillerfollowingthedeathofdis...
4,49529,John Carter,actionadventuresciencefictionjohncarterisawar-...

In [79]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [80]:
vectors = cv.fit_transform(movies['tags']).toarray()

AttributeError: 'list' object has no attribute 'lower'

In [81]:
feature_names = cv.get_feature_names_out()

NotFittedError: Vocabulary not fitted or provided

In [62]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(5000,))

In [63]:
len(cv.get_feature_names_out())

5000

In [76]:
cv.get_feature_names_out()

array(['000', '000acreranchoutsideofapeacefulmexicotown', '000boys', ...,
       'zorro',
       'zpsychedelicdrugbenstillernaomiwattsadamdriverfrancinemaislerscottrudinnoahbaumbach',
       'été'], shape=(5000,), dtype=object)

In [53]:
import nltk

In [74]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [77]:
def stem(text):
    Li = []
    for i in text.split():
        Li.append(ps.stem(i))
    return ' '.join(Li)

In [1]:
 new_df["tags"]

NameError: name 'new_df' is not defined

In [ ]:
new_df["tags"].apply(stem)

In [57]:
stem("Li is the list, but you're appending to li (lowercase L vs uppercase L) → Typo. should be ' ' if you want space between words.Make sure ps = PorterStemmer() is defined outside this function.")

"li is the list, but you'r append to li (lowercas l vs uppercas l) → typo. should be ' ' if you want space between words.mak sure ps = porterstemmer() is defin outsid thi function."

In [59]:
new_df["tags"] = new_df["tags"].apply(stem)

C:\Users\mypc\AppData\Local\Temp\ipykernel_12676\825579503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(stem)

NameError: name 'new_df' is not defined